#PerfMetrics {
  width: 400px;
}

.slider {
  width: 90%;
}

.slider > .dragger {
  background: #c09551;
  background: -webkit-linear-gradient(top, #c09551, #c09551);
  background: -moz-linear-gradient(top, #c09551, #c09551);
  background: linear-gradient(top, #c09551, #c09551);
}

.slider > .dragger:hover {
  background: -webkit-linear-gradient(top, #c09551, #c09551);
}

table.months {
  width: inherit;
  margin-left: 6px;
}
