<template name="company-profile">
  <section class="company-profile">
    <div>
      <div>
        <img src="sysomos-map-logo.png"/>
      </div>
      <div>
        <h1>MapYourWay</h1>
        <div>MapYourWay was founded in 2011 with the goal to revolutionize the assistive technologies field and to bring much needed accessibility to those with vision loss, blindness, and deaf blind.</div>
        <div>Munic, Germany</div>
        <div>Founded</div>
        <div>May 2014</div>
      </div>
    </div>

    <div>
      <div class="industry">
        <i></i>
        <div>Industry</div>
        <div>Computer Software</div>
      </div>
      <div class="revenue">
        <i></i>
        <div>Revenue</div>
        <div>$2800</div>
      </div>
      <div class="users">
        <i></i>
        <div>Users</div>
        <div>140</div>
      </div>
      <div class="employees">
        <i></i>
        <div>Employees</div>
        <div>3</div>
      </div>
    </div>

    <div id="PerfMetrics">
      <h2>Performance Metrics</h2>
      <canvas id="PerfChart" width="400" height="400"></canvas>
      <table class="months">
        <tr>
          <td>Nov</td>
          <td>Dec</td>
          <td>Jan</td>
          <td>Feb</td>
          <td>Mar</td>
          <td>Apr</td>
        </tr>
      </table>
      
      <input id="PerfSlider" type="text">
    </div>

    <div class="growth">
      <h2>Growth</h2>
      <canvas id="Growth" width="800" height="400"></canvas>
    </div>

    <div class="staffsize">
      <h2>Staff Size</h2>
      <div>When the company entered into the accelerator only one founder was involved, a metric we view unfavorable. The founder is a developer and entered the program with a MVP. In month three the founder recruited an additional co-founder to help build the company.  In month four the team added another person, taking the role as a sales leader. Over the six months the founder was able to improve a key metric, recruiting partners and increasing the companies overall chance for success.</div>
      <canvas id="StaffSize" width="800" height="400"></canvas>
    </div>

    <div class="capital">
      <h2>Capitalization</h2>
      <div>The company entered the program bootstrapping and operated as such for four months. In their 5th month in the program they raised $25,000 from an angel investor and another $25,000 in month 6, for a total capitalization of $50,000.</div>
      <canvas id="Capitalization" width="800" height="400"></canvas>
    </div>

    <div class="ip">
      <h2>Intellectual Property</h2>
      <div>The founder entered the program with a provisional patent application filed with the USPTO. We consider this an important step to securing IP. In the sixth month the team discovered an additional part of their company can be protected and filed an additional provisional patent application.</div>
      <!--<canvas id="IP" width="800" height="400"></canvas>-->
    </div>

    <div class="pipeline">
      <h2>Sales Pipeline</h2>
      <div>The company entered the program with an MVP. In their second month they brought on 5 customers for a free 30 day trial. They had a healthy list of potential customers in their pipeline and were able to gain traction after the initial customers validated the platform. By month six they had over 100 customers with tremendous momentum.</div>
      <canvas id="Pipeline" width="800" height="400"></canvas>
    </div>

    <div class="sphere">
      <h2>Sphere of Influence</h2>
      <div>Through established relationships the founder had secured well known potential customers in their industry. The well-known customer was one of the initial users and leveraged their network once they started using the product. This has created significant momentum for the company.</div>
      <!--<canvas id="Sphere" width="800" height="400"></canvas>-->
    </div>

    <!--
    <h2>Centers of Influence</h2>
    <div>MedWoo had a billion more people join</div>
    <canvas id="Center" width="800" height="400"></canvas>
    -->

    <div class="platdev">
      <h2>Platform Development</h2>
      <div>The founder entered the accelerator with a MVP, which we consider very valuable. After he was able to recruit additional people to the team he was able to spend significantly more time on the product. Over months 4, 5 and 6 the team was able to make quick iterations and respond quickly to customer demand.</div>
      <!--<canvas id="PlatDev" width="800" height="400"></canvas>-->
    </div>
  </section>
</template>
