/*--------------------------------------------------------*\

	*Filename:		sass.scss
	*Description: 	contains SASS variables and mixins
	*Version:		1.0.0(2014-01-28)
	*Website:		http://schonne.com
	*Author:		Schonne Eldridge

\*---------------------------------------------------------*/

$gold: #c09551;
$blue: #21366c;
$offwhite: #f7f7f7;
$darkgrey: #444341;

